<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Price Stealer</title>
    <link th:insert="index :: price-stealer-bootstrap">
    <style>
        .navbar {
            background-color: black;
        }
    </style>
</head>
<body>
<!-- create navigation bar ( header) -->
<nav th:insert="index :: navbar-price-stealer"></nav>

<br><br><br><br>

<div th:insert="game-stores :: game-stores-search-store"></div>

<!-- show table with stores if response is present-->
<div th:if="${gameLookupOptional.isPresent()}" class="container">
    <h3 th:text="${gameLookupOptional.get().getInfo().getTitle()}"></h3>
    <div class="row">
        <div class="col-lg-10 mt-5 mb-5">
            <table id="example" class="table table-bordered" style="width: 100%">
                <thead>
                <tr>
                    <th>Store name</th>
                    <th>Price</th>
                    <th>Retail price</th>
                    <th>Savings</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="deal : ${gameLookupOptional.get().deals}">
                    <td th:text="${deal.storeName}">Name</td>
                    <td th:text="${deal.price}">storeName</td>
                    <td th:text="${deal.retailPrice}">salePrice</td>
                    <td th:text="${deal.savings}">retailPrice</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- show warning if nothing was found-->
<div th:if="${gameLookupOptional.isEmpty()}" class="alert alert-warning" role="alert">
    Oops! Nothing was found! Try another game
</div>

</body>
</html>