<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Price Stealer</title>
    <link th:insert="index :: price-stealer-bootstrap">
    <style>
        .navbar {
            background-color: black;
        }
    </style>

</head>
<body>
<!-- create navigation bar ( header) -->
<nav th:insert="index :: navbar-price-stealer"></nav>
<br><br><br><br>

<div>
    <h1>Search in store</h1>
    <div>
        <form th:action="@{/search/store/game/params}" method="get" th:object="${searchInStoreRequestDto}">
            <select th:name="title" th:fragment="store-search-select-stores">
                <option th:each="store : ${stores}" th:value="${store.getStoreName()}"
                        th:text="${store.getStoreName()}">
                </option>
            </select><br>
            <input  size="30" type="text" th:name="lowerPrice" placeholder="lower price"><br>
            <input  size="30" type="text" th:name="upperPrice" placeholder="upper price"><br>
            <input class="btn btn-primary" type="submit" value="Search">
        </form>
    </div>
</div>

</body>
</html>